<p class="text-default" style="@GetStyle()">@ChildContent</p>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public int? FontSize { get; set; }
    [Parameter]
    public bool IsBold { get; set; } = false;
}
