@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4" style=@_articleStyle>
            @Body
        </article>
    </main>
</div>

@code {
    private string _articleStyle = $"height: {DeviceDisplay.MainDisplayInfo.Height}px; background-color: {Shared.BgColor.ToHex()};";
}